
version: "3.8"
services:
  backend:
    build: ./backend
    env_file:
      - ./.env
      - ./backend/.env.example
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/../data
  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
